In [2]:
# Import needed packages
# You may add or remove packages should you need them
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.datasets import load_iris
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import KFold, LeaveOneOut, cross_val_score

# Set random seed
np.random.seed(0)

# Display plots inline and change plot resolution to retina
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
# Set Seaborn aesthetic parameters to defaults
sns.set()

In [4]:
# Load the Iris dataset included with scikit-learn

iris = load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [6]:
# Put data in a pandas DataFrame

df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
# Add target and class to DataFrame

df_iris["target"] = iris.target

df_iris["class"] = iris.target_names[iris.target]

In [10]:
# Show 10 random samples

df_iris.sample(n=10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,class
92,5.8,2.6,4.0,1.2,1,versicolor
141,6.9,3.1,5.1,2.3,2,virginica
130,7.4,2.8,6.1,1.9,2,virginica
119,6.0,2.2,5.0,1.5,2,virginica
48,5.3,3.7,1.5,0.2,0,setosa
143,6.8,3.2,5.9,2.3,2,virginica
122,7.7,2.8,6.7,2.0,2,virginica
63,6.1,2.9,4.7,1.4,1,versicolor
26,5.0,3.4,1.6,0.4,0,setosa
64,5.6,2.9,3.6,1.3,1,versicolor

In [15]:
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,class
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [11]:
# now... implement the LDA (bear in mind that you do pass it the y's and it is supervised!)

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()

In [13]:
# same process as always, identify your X's and your y's

x = df_iris.iloc[:,0:-2]
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [14]:
y = df_iris.iloc[:,-2]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [16]:
#train-test-split

X_train, X_test, y_train, y_test = model_selection.train_test_split(X,y, test_size=0.3, random_state=0)

In [19]:
# Scale the X's

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
# apply the lda transformation

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

lda = LinearDiscriminantAnalysis()

X_train_lda = lda.fit(X_train_scaled,y_train).transform(X_train_scaled)
X_test_lda = lda.transform(X_test_scaled)

In [21]:
# select 2 principal components

X_train_lda

array([[-0.93534728,  2.56340654],
       [-4.9854655 ,  0.12984179],
       [-6.71818728, -2.28054655],
       [-4.50416279,  2.1562057 ],
       [-6.05586017,  1.42531684],
       [-0.85339282,  1.58864502],
       [-6.24525673, -0.85251282],
       [-2.35585784, -0.7209366 ],
       [-0.84540183,  1.70265893],
       [-4.07198666,  0.13954656],
       [-3.67867911,  0.99586764],
       [-4.85461429,  0.63957594],
       [-4.815563  ,  0.36717819],
       [-1.03351774, -0.06914412],
       [-4.74968477, -0.75150098],
       [-2.12692883, -1.0841014 ],
       [ 6.96274732,  0.6311119 ],
       [-5.49216896,  0.15037761],
       [-1.90661334,  0.93348185],
       [-0.15965983, -0.10313754],
       [-1.76011418,  1.14487246],
       [-2.18415219,  0.38057744],
       [-5.10785032,  0.13432765],
       [ 8.5552578 , -0.77296709],
       [ 7.72225853,  0.67356318],
       [-5.21505839,  0.26102083],
       [-1.17102799,  0.59183631],
       [ 7.83631832,  0.02869204],
       [ 9.35553499, -2.82342858],
       [-2.04611942,  0.07774803],
       [ 6.95470921,  0.55915308],
       [-4.75658361, -0.19126793],
       [ 0.77098739,  0.72473184],
       [ 7.28956566, -0.43673152],
       [-2.97814729,  1.59676503],
       [-6.73412215, -2.55062945],
       [-1.54712004,  0.51162475],
       [ 7.6158557 ,  0.90607686],
       [-5.99915933, -0.39751302],
       [-6.04843305, -1.54556801],
       [-6.79087011, -0.68574451],
       [-6.38276697, -0.19153239],
       [ 8.1557153 , -0.83706936],
       [ 7.30621152,  0.02328206],
       [-4.26771241, -1.26195412],
       [-5.67177136, -1.14926051],
       [ 6.15267599,  1.70338185],
       [-5.97408842, -2.15002716],
       [ 7.48476889,  0.60661814],
       [-5.86027001,  0.18417995],
       [-4.88072446, -1.09301479],
       [ 7.31415539,  0.17935106],
       [ 8.30221445, -0.62567875],
       [-4.30762603,  0.89472407],
       [ 8.05663958, -0.72252753],
       [ 7.08517926,  0.58457095],
       [ 7.88555069, -1.55000071],
       [-1.98909032,  1.55009235],
       [-6.68494268, -1.3184643 ],
       [-7.11754709,  0.25593366],
       [ 8.31824356, -0.43970602],
       [ 7.34626073,  0.50924144],
       [ 8.33427267, -0.25373329],
       [-2.4205968 ,  1.02993444],
       [-1.02557387,  0.08692487],
       [ 8.35025465, -0.02570547],
       [ 6.5454668 , -0.56725091],
       [-0.88649607,  0.50039751],
       [ 7.81910282, -0.74741748],
       [-8.72717883,  0.79979296],
       [-0.10191972,  1.55913747],
       [-5.04249461, -1.34250254],
       [-0.78056863, -0.13232228],
       [ 9.14429688, -1.28394815],
       [-3.86707774, -0.52360489],
       [10.31029655, -1.77968274],
       [-7.2073983 ,  1.0325711 ],
       [ 8.14710755, -1.22512412],
       [ 6.94671822,  0.44513917],
       [-5.81936845,  0.73390475],
       [ 7.95875026, -0.01784891],
       [-6.61116769, -2.23901938],
       [-1.40861187,  0.60900144],
       [-0.62498633,  0.86732919],
       [ 0.66520132,  1.23128637],
       [-5.68903398, -1.88331494],
       [-5.27346237, -1.63323994],
       [-3.51615085,  1.39323098],
       [-3.19784602, -0.14677737],
       [ 7.1092936 ,  0.80044742],
       [-0.33080162,  1.88024719],
       [-6.4325632 , -1.6977384 ],
       [-5.49216896,  0.15037761],
       [ 7.95075926, -0.13186282],
       [-1.38445042,  0.78282283],
       [-1.31015292,  0.22041876],
       [-3.76861878, -0.91218757],
       [-1.95693786,  1.83792765],
       [ 9.09330848, -0.61148812],
       [ 7.7710155 , -1.30533568],
       [ 7.60786471,  0.79206295],
       [-5.61398414,  0.47095941],
       [-0.60777083,  1.64343871],
       [-6.5857256 , -1.55917138],
       [ 7.32219351,  0.25130988]])

In [22]:
# take a look at the new axes for the data and plot them

lda.scalings_

array([[ 1.13900041, -0.14519003],
       [ 0.5028995 , -0.88998308],
       [-4.54370903,  1.8899462 ],
       [-2.03103272, -2.19576071]])

In [23]:
# what about the variability?

lda.explained_variance_ratio_

array([0.99231557, 0.00768443])

In [24]:
# Run a Random Forest Classifier with the transformed data


from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
forest_lda = RandomForestClassifier()
forest_lda.fit(X_train_lda, y_train)
y_pred_lda = forest_lda.predict(X_test_lda)
metrics.accuracy_score(y_test, y_pred_lda)

0.9777777777777777

In [25]:
#Check the new acuracy! Is it higher or lower than what you obtain selecting 2 features and applying a Random Forest Directly?


forest = RandomForestClassifier()
forest.fit(X_train_scaled[:,:2], y_train)
y_pred = forest_lda.predict(X_test_scaled[:,:2])
metrics.accuracy_score(y_test, y_pred)

0.4